# Draw, Word, and other lock and temp files
**/~*
**/.~*

# OS (core dumps, etc.)
core

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# CMake Build
**/build

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
*.dSYM/

# KiCAD
_autosave*
\#auto*
**/*-backups/**
*~*.lck
**/fp-info-cache
**/fp-info-cache/**

# CPLD Files that aren't typically needed.
#  For any that are needed, add an ! include
*.lst
*.mx
*.pla
*.so
*.wo
*.abs
*.tt*
*.vt
*.doc
*.plc
*.fit
*.rpt
*.tmv
*.sim
*.jed
*.pin
*.io
*.oed
*.log
jtag.log
syndos.env
CM*
CB*
**/pld/_*
**/pld/*.pdf

# Specific 'Adds' to override ignored files
#
## CPLD
!CM*.*
!CB*.*
